@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
}

.dino-wrap {
  flex-direction: column;
}

.dino:nth-child(2), .dino:last-child {
  display: none;
}

@media only screen and (min-width: 25em) {

  .dino:nth-child(2), .dino:last-child {
    display: block;
  }

  .dino-wrap {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
  }

  .dino {
    width: 50%;
  }

}

@media only screen and (min-width: 38em) {

  .dino:first-child {
    display: none;
  }

  .dino-wrap {
    display: flex;
  }

  .dino {
    width: 33.333%;
  }

}

@media only screen and (min-width: 60em) {

  .dino:first-child {
    display: block;
  }

  .dino-wrap {
    display: flex;
  }

  .dino {
    width: 25%;
  }

}

@media only screen and (min-width: 90em) {

  .dino-wrap {
    display: flex;
  }

}
